body{margin: 0;}

div.main{text-align: center; color: white ;font-family: 'Anton', sans-serif; font-size: 20px;}

div.honda{background-color: #9b59b6; margin: 0px;padding: 50px;height: 50vh;display: flex;
    justify-content: center;
    align-items: center; letter-spacing: 11px;
background-image: url(images/cb350.jpg);background-position: center; background-size: cover;
background-blend-mode: color-burn;}
    

div.yamaha{background-color: #2ecc71;padding: 50px;height: 50vh;display: flex;
    justify-content: center;
    align-items: center;letter-spacing: 11px;
    background-image: url(images/R15.jpg);background-position: center; background-size: cover;
    background-blend-mode: color-burn;}

div.suzuki{background-color: #d35400;padding: 50px;height: 50vh;display: flex;
    justify-content: center;
    align-items: center;letter-spacing: 11px;
    background-image: url(images/gixxer.jpg);background-position: center; background-size: cover;
    background-blend-mode: color-burn;}

    div.kawasaki{background-color: #3498db;padding: 50px;height: 50vh;display: flex;
        justify-content: center;
        align-items: center;letter-spacing: 11px;
        background-image: url(images/H2r.jpg);background-position: center; background-size: cover;
        background-blend-mode: color-burn;}